$hamburger-padding-x           : 0;
$hamburger-padding-y           : 0;
$hamburger-layer-width         : 32px;
$hamburger-layer-height        : 1px;
$hamburger-layer-spacing       : 8px;
$hamburger-layer-color         : $mint;
$hamburger-layer-border-radius : 2px;

@import "../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
