// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// Custom mixions
@mixin ff($family: 'PT Sans', $weight: 400, $style: normal) {
	font-family: $family;
	font-weight: $weight;
	font-style: $style;
}

@mixin fz($px: 20) {
	font-size: (($px) / ($font__size-base)) + rem;
}

