.single {
	.site-main-wrapper {
		@media (min-width: 992px) {
			max-width: 960px;
        }
        
		@media (min-width: 1200px) {
			max-width: 960px;
		}

		@media (min-width: 1400px) {
			max-width: 960px;
		}
	}
}
